.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 15px 0px 15px;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu, .mat-icon-button {
  width: 20px;
}


/* ----------- iPhone 4 and 4S ----------- */
/* ----------- Galaxy S3, Galaxy S4, S5 and Note 3 ----- 640 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S6, Google Pixsel, HTC One ----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

}
/* ----------- iPhone X ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* ----------- Galaxy, Nexus: 800px ----------- */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- Labtop ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)  {
}
