<div class="footer-wrapper mat-typography slideUp" *ngIf="!isOpen">
  <div class="button">
    <button mat-mini-fab
    (click)="toggleMore()">
      more
    </button>
  </div>
</div>

<div class="footer-wrapper mat-typography" *ngIf="isOpen">
  <div class="footer slideUp">
    <div class="link">
      <a href="https://github.com/yalexhwang/">GitHub</a>
    </div>
    <div class="link">
      <a href="https://www.linkedin.com/in/yalexhwang/">LinkedIn</a>
    </div>
    <div class="link">
      <a href="mailto:y.alex.hwang@gmail.com">Email</a>
    </div>
  </div>
  <div class="button-covered">
    <button mat-mini-fab
    (click)="toggleMore()">
      hide
    </button>
  </div>
</div>

<div class="spacer">

</div>
